<mat-card>
  <mat-card-content>
    <p>New Subscription</p>
    <mat-form-field>
      <mat-select [(value)]="priviledge" placeholder="Priviledge">
        <mat-option *ngFor="let priviledge of priviledges" [value]="priviledge.value">{{ priviledge.text }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Bank Name" [(ngModel)]="bankName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Account Name" [(ngModel)]="accountName" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Account Number" [(ngModel)]="accountNumber" required>
    </mat-form-field>
    <div>
      <input type="file" (change)="setFile($event)" required/>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" (click)="submit()">
      Submit
    </button>
  </mat-card-footer>
</mat-card>